.bot-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
    -ms-flex-item-align: end;
    align-self: flex-start;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.message-wrapper--left .message-bubble {
    display: inline-block;
    padding: 16px;
    color: white;
    background: linear-gradient(315deg,#544ad8,#804cd9);
    border-radius: 0px 8px 8px 8px;
    -webkit-box-shadow: 0 2px 4px 0 var(--shadowColor);
    box-shadow: 0 2px 4px 0 var(--shadowColor);
    font-size: var(--fontSize);
    line-height: 21px;
    text-align: left;
    max-width: 100%;
}

.message-wrapper--right .message-bubble--blue {
    color: #080808;
    background-color: lightgrey;
    border-radius: 8px 0px 8px 8px;
}

.rwc-button--outlined.rwc-button--primary {
    height: auto!important;
    padding: 6px 10px!important;
    color: white!important;
    border-radius: 5px!important;
    background: linear-gradient( 
343.11deg
 , #544ad8 0%, #804cd9 100%)!important;
    border-color: transparent!important;
    box-shadow: 1px 1px 0px lightgrey!important;
    position: relative!important;
    top: 0px!important;
    transition: all ease 0.3s!important;
}

.buttons-list button.rwc-button:not(:last-of-type), rwc-button--outlined.rwc-button--primary {
    height: auto!important;
    padding: 4px 10px!important;
    color: white!important;
    position: relative!important;
    top: 0px!important;
    transition: all ease 0.3s!important;
}


/* .buttons-list button.rwc-button:not(:last-of-type):active, rwc-button--outlined.rwc-button--primary:active{
    box-shadow: 0 3px 0 #00823F;
    top: 3px;
  } */


/* .message-bubble {
    
}

.message-bubble__text {
    word-break: break-word;
    color: white!important;
    font-family: Inter!important;
    font-size: 14px!important;
}

.message-wrapper--left .message-bubble {
    background: #6B4CD9!important;
}
.ui-ripple-ink:hover, .ui-ripple-ink:active {
    background-color: #DCDAE5!important;
}

.ui-button__content:hover {
    color: white!important;
}
.buttons-list {
    width: auto!important;
    margin-top: 8px!important;
    display: contents!important;
    display: -ms-flexbox!important;
   
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}

.message-wrapper__new-conversation button.ui-button.ui-button--type-primary.ui-button--color-default, .message-wrapper__new-conversation button.ui-button.ui-button--type-primary.ui-button--color-primary {
    margin-right: 8px;
    max-width: 100%;
    min-height: 34px;
    border: 1px solid white!important;
    border-radius: 4px;
    color: red;
    background-color: transparent;
    -webkit-transition: color .4s,background-color .4s;
    transition: color .4s,background-color .4s;
    height: auto;
}

.message-wrapper--right  .message-bubble__text {
    word-break: break-word;
    color: black!important;
    font-family: Inter!important;
    font-size: 14px!important;
}
.message-bubble--blue {
    background-color: lightgrey;
   
    border-radius: 8px 8px 0 8px;
}

.message-time__sent {
    color: rebeccapurple;
}

.buttons-list button.ui-button.ui-button--type-secondary.ui-button--color-primary /deep/ .ui-button__content {
    max-width: 100%;
    word-break: break-all;
    font-size: 12px;
}

.buttons-list button.ui-button.ui-button--type-secondary.ui-button--color-primary {
    border-color: white;
    border-radius: 4px;
    color: white;
    -webkit-transition: color .4s,background-color .4s;
    transition: color .4s,background-color .4s;
    margin-bottom: 8px;
    height: auto;
    min-height: 32px;
}

.message-wrapper__conversation-buttons button.ui-button.ui-button--type-primary.ui-button--color-default:first-child /deep/ .ui-button__content, .message-wrapper__conversation-buttons button.ui-button.ui-button--type-primary.ui-button--color-primary:first-child /deep/ .ui-button__content {
    max-width: 100%;
    word-break: break-all;
    font-size: 12px;
    color: white;
    display: inline-flex!important;
}

.message-wrapper__conversation-buttons {
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex!important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
button {
    width: calc(56% - 5px)!important;
    margin-top: 4px;
}
.ui-button__content {
    color: rebeccapurple!important;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    z-index: 1;
}

button.ui-button .ui-ripple-ink {
    border-radius: 0;
    background-color: rgb(104,71,206, 0.2);
}
button.ui-button.ui-button--type-primary.ui-button--color-default, button.ui-button.ui-button--type-primary.ui-button--color-primary {
    min-height: 44px;
    height: auto;
    font-size: 12px;
    line-height: 20px;
    background-color: rgb(104,71,206, 0.4)!important;
}

.dApi {
    font-weight: 700;
    text-decoration: underline;
}

.buttons-list button.ui-button.ui-button--type-secondary.ui-button--color-primary {
    border-color: white!important;
    border-radius: 4px;
    color: white!important;
    -webkit-transition: color .4s,background-color .4s;
    transition: color .4s,background-color .4s;
    margin-bottom: 8px;
    height: auto;
    min-height: 32px;
}

.rwc-embed__thumb {
    width: 64px;
    height: 64px;
    background-color:transparent!important;
    border: none;
    border-radius: 50%;
    color: #fff;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.13);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.13);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    outline: none;
    -webkit-transition: opacity .4s,visibility .4s,-webkit-transform .4s;
    transition: opacity .4s,visibility .4s,-webkit-transform .4s;
    transition: transform .4s,opacity .4s,visibility .4s;
    transition: transform .4s,opacity .4s,visibility .4s,-webkit-transform .4s;
}

.rwc-embed__thumb img {
    max-width: 48%!important;
    max-height: 48%!important;
}

.rwc-embed__thumb-wrapper {
    width: 31px;
    height: 64px;
    max-width: 100%;
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.rwc-embed__thumb {
    width: 80px!important;
    height: 80px!important;
}
body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.spanLabel {
    font-weight: 700;
}

.rwc-embed--anim-pulse:after, .rwc-embed--anim-pulse:before {
    position: absolute!important;
    top: -1px!important;
    left: -1px!important;
    width: 100%!important;
    height: 100%!important;
    border-radius: 50%!important;
    border: 1px solid rebeccapurple!important;
    content: ""!important;
}

h1.title > span {
    text-align: center!important;
    margin: 0px;
    font-size: 22px;
}

.msgContainer {
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 1px 0px 4px 2px #ccc;
    color: black;
}

.gotIt {
    color: white!important;
}

.chat-input{
    max-width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#garrensChart {
    width: 100%;
    height: 374px;
    padding: 12px 0px;
    border: solid 1px rebeccapurple;
}

.rwc-button {
    position: relative!important;
    display: inline-flex!important;
    -webkit-box-pack: center!important;
    justify-content: center!important;
    -webkit-box-align: center!important;
    align-items: center!important;
    max-width: 100%!important;
    outline: none!important;
    border: 1px solid var(--rwcTheme)!important;
    border-radius: 4px!important;
    font-family: SFProText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
    cursor: pointer!important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1)!important;
    font-size: 12px!important;

    padding: 15px 15px!important;
    width: auto!important;
}

button.location__btn.rwc-button.rwc-button--filled.rwc-button--primary.rwc-button--nowrap {
    width: 92%!important;
    margin: 12px 12px!important;
}
@media (max-width: 767.98px) {
    .location__controls .ui-icon-button--type-primary.ui-icon-button--color-default {
        width: 48px!important;
        height: 48px;
        border-radius: 50%;
        font-size: 24px;
    }
}


.rwc-file__icon {
    width: 35px!important;
    height: 35px!important;
    margin-right: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: var(--fileItemBackground);
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #686d71;
    -webkit-transition: opacity .4s,visibility .4s;
    transition: opacity .4s,visibility .4s;
}

.rwc-file__name span  {
    display: block;
    color: white!important;
}
.rwc-file__content {
    color: white!important;
}

#dTable {
    width: 300px;
    box-shadow: 0 0 black;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}


#app.shown {
    opacity: 1;
    visibility: visible;
    background: white;
   
   
}


.message-wrapper.message-wrapper--left.message-wrapper--custom {
   
    overflow-x: scroll!important;
    overflow: auto;
    white-space: nowrap;
}

.message-wrapper.message-wrapper--left.message-wrapper--rwc-buttons-list {
    display: flex;
}

.message-wrapper {
    max-width: 100%!important;
}

.buttons-list button.rwc-button span {
    display: inline-block;
    max-width: 100%;
    height: auto!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#table2{
    transform: translateX(0);
  transition: 1s;
}
#table2:hover{
    transform: translateX(calc(200px - 100%));
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
   */
